/*
=======================================================================
                        media Query
=======================================================================
*/

@media screen and (min-width: 1600px) and (max-width: 1799px) {
  .containerX {
    margin: 0 8rem;
  }

  /* Banner */
  .hero_slider .right_text {
    --font-size: 12rem;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }

  .containerX {
    margin: 0 7rem;
  }

  h2 {
    font-size: 3.8rem !important;
  }

  .nav-ul a {
    padding: 0rem 5rem;
  }

  .top-header {
    padding: 0 5rem;
  }

  .mob-logo a {
    padding: 0 3.5rem;
  }

  .homebox { 
    margin-top: 8rem;
}

  /* Banner */
  .hero_slider .right_text {
    --font-size: 12rem;
  }

  /* Modal */
  .pro_modal .modal-dialog {
    max-width: 1100px;
  }
  .pro_modal .pro_modal_body {
    --width: 495px;
    gap: 30px;
    padding: 40px;
  }

  #main_image .splide__slide {
    height: 350px !important;
  }
  .right_side {
    max-height: 500px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 9px;
  }

  h2 {
    font-size: 3.4rem !important;
  }

  .containerX {
    margin: 0 6rem;
  }

  .Heading_line {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }

  .product_sec {
    margin-top: 10rem;
  }

  .nav-ul a {
    padding: 0rem 3rem;
    font-size: 1.8rem;
  }

  .top-header {
    padding: 0 4rem;
  }

  .nav-ul {
    height: 9rem;
  }

  .mob-logo a {
    max-width: 24rem;
    padding: 0 3rem;
  }

  .AWEER_RATE {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  /* Slider */
  .hero_slider .right_text {
    --font-size: 10rem;
  }

  .Url_hash .hash_item img {
    max-width: 7rem;
  }

  /* Slider */

  /* Quality section */
  .FARMER_EXPORT_Contan {
    margin-top: 2rem;
  }

  .dgcolum2 {
    margin-top: 8rem;
  }

  .homebox { 
    gap: 1.5rem;
    margin-top: 6rem;
}

.choose_box {
  width: 6rem;
  height: 6rem; 
}

.whyChoose_content {
  margin-top: -3rem; 
  padding: 0 2rem;
}

.heading_txt h4 {
  font-size: 2.6rem !important;
}

.heading_txt {
  padding: 1rem 4rem; 
}

  /* about us */
  .why_choose_sec {
    gap: 40px;
  }

  .whychoose_items {
    padding: 3rem;
  }

  .whychoose_items .choose_heading h2 {
    font-size: 2.4rem !important;
  }

  .whychoose_items p {
    font-size: 2rem;
  }

  .valuse_items .valuseitems_left {
    grid-template-columns: 160px auto;
    min-height: 160px;
    max-width: 80%;
    margin-bottom: 3rem;
  }

  .valuseitems_Right {
    grid-template-columns: auto 160px;
    min-height: 160px;
    max-width: 80%;
    margin-bottom: 3rem;
  }

  .value_content {
    padding: 2rem;
    gap: 20px;
  }

  .value_text h2 {
    font-size: 2.6rem !important;
    margin-bottom: 1rem;
  }

  .value_boder h2 {
    font-size: 2.6rem !important;
    margin-bottom: 1rem;
  }

  .value_text p {
    font-size: 2rem;
  }

  .value_boder p {
    font-size: 2rem;
  }

  .value_text {
    padding-right: 3rem;
  }

  .value_boder {
    padding-left: 3rem;
  }

  .box_item .back {
    padding: 30px;
  }

  .value_imges img {
    max-width: 7rem;
  }

  /* about us */

  /* Contact start */
  .Contact_Form {
    background-color: #151414;
    padding: 3rem;
  }

  .Foram_heading {
    padding: 2rem;
    font-size: 2.6rem;
  }

  .Form_mt {
    margin-top: 3rem;
  }

  .Contact_Form label {
    font-size: 2rem;
  }

  .Contact_Form input {
    font-size: 2rem;
    padding: 0.8rem;
  }

  .message_txt {
    font-size: 2rem;
  }

  .massges_taxtarea textarea {
    font-size: 2rem;
  }

  .submit_btn {
    width: 16rem;
    height: 5rem;
    font-size: 2rem;
  }

  .office_heading {
    font-size: 2.6rem !important;
  }

  .mapouter .gmap_canvas {
    height: 400px;
  }

  /* Contact end */

  /* Footer */
  .Footer_row {
    font-size: 2rem;
  }

  .footer_col h4 {
    margin-bottom: 4rem;
    font-size: 2.4rem !important;
  }

  .contact_details .item {
    grid-template-columns: 2.6rem auto;
  }

  .contact_details .item svg {
    width: 2.6rem;
    height: 2.6rem;
  }

  /* Modal */
  .pro_modal .modal-dialog {
    max-width: 1000px;
  }
  .pro_modal .pro_modal_body {
    --width: 458px;
    gap: 20px;
    padding: 30px;
  }

  #main_image .splide__slide {
    height: 280px !important;
  }
  .right_side {
    max-height: 400px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  h2 {
    font-size: 3.8rem !important;
  }

  h3 {
    font-size: 3.6rem !important;
  }

  .containerX {
    margin: 0 4rem;
  }

  .Heading_line {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
    height: 40px;
  }

  .product_sec {
    margin-top: 8rem;
  }

  .nav-ul a {
    padding: 0rem 2rem;
    font-size: 1.6rem;
  }

  .top-header {
    padding: 0 2rem;
  }

  .mob-logo a {
    max-width: 18rem;
    padding: 0 2rem;
  }

  .AWEER_RATE {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }

  /* Slider */
  .hero_slider .right_text {
    --font-size: 10rem;
  }

  .Url_hash .hash_item img {
    max-width: 7rem;
  }

  /* Slider */

  /* Quality section */
  .FARMER_EXPORT_Contan {
    margin-top: 2rem;
  }

  .dgcolum2 {
    margin-top: 6rem;
  }

  .vegetables_ul {
    gap: 4rem;
  }

  .homebox { 
    gap: 1.5rem;
    margin-top: 6rem;
}

.choose_box {
  width: 6rem;
  height: 6rem; 
}

.whyChoose_content {
  margin-top: -3rem; 
  padding: 0 2rem;
}

.heading_txt h4 {
  font-size: 2.6rem !important;
}

.heading_txt {
  padding: 1rem 4rem; 
}

  /* about us */
  .why_choose_sec {
    gap: 30px;
  }

  .whychoose_items {
    padding: 2rem;
  }

  .whychoose_items .choose_heading h2 {
    font-size: 2.4rem !important;
  }

  .choose_heading {
    gap: 1rem;
  }

  .whychoose_items p {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .valuse_items .valuseitems_left {
    grid-template-columns: 140px auto;
    min-height: 140px;
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .valuseitems_Right {
    grid-template-columns: auto 140px;
    min-height: 140px;
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .value_content {
    padding: 2rem;
    gap: 20px;
  }

  .value_text h2 {
    font-size: 2.6rem !important;
    margin-bottom: 1rem;
  }

  .value_boder h2 {
    font-size: 2.6rem !important;
    margin-bottom: 1rem;
  }

  .value_text p {
    font-size: 2rem;
  }

  .value_boder p {
    font-size: 2rem;
  }

  .value_text {
    padding-right: 3rem;
  }

  .value_boder {
    padding-left: 3rem;
  }

  .value_imges img {
    max-width: 7rem;
  }

  .box_item .back {
    padding: 20px;
  }

  .Core_value_ul li {
    font-size: 2rem;
  }



  /* about us */

  /* Contact start */
  .Contact_Form {
    background-color: #151414;
    padding: 2rem;
  }

  .Foram_heading {
    padding: 2rem;
    font-size: 2.6rem;
  }

  .Form_mt {
    margin-top: 3rem;
  }

  .Contact_Form label {
    font-size: 2rem;
  }

  .Contact_Form input {
    font-size: 2rem;
    padding: 0.8rem;
  }

  .message_txt {
    font-size: 2rem;
  }

  .massges_taxtarea textarea {
    font-size: 2rem;
  }

  .submit_btn {
    width: 16rem;
    height: 5rem;
    font-size: 2rem;
  }

  .office_heading {
    font-size: 2.6rem !important;
  }

  .mapouter .gmap_canvas {
    height: 400px;
  }

  /* Contact end */

  /* Modal */
  .pro_modal .modal-dialog {
    max-width: 800px;
  }
  .pro_modal .pro_modal_body {
    --width: 370px;
    gap: 16px;
    padding: 20px;
  }

  #main_image .splide__slide {
    height: 280px !important;
  }
  .right_side {
    max-height: 400px;
  }

  /* Footer */
  .Footer_row {
    font-size: 2rem;
  }

  .footer_col h4 {
    font-size: 2.4rem !important;
  }

  .footer_col h4,
  .footer_logo {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 8px;
  }

  h2 {
    font-size: 3.5rem !important;
    color: var(--color-secondary);
  }
  h3 {
    font-size: 3.6rem !important;
  }

  .Heading_line {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
    height: 40px;
  }

  .nav-ul {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100vh;
    max-width: 300px;
    overflow: hidden;
    background-color: var(--color-black);
    z-index: 9999;
    transition: 0.5s;
  }

  .mob-logo {
    margin-bottom: 010px;
  }

  .nav-ul.active {
    left: 0;
  }

  .nav-ul .nav-item {
    height: auto;
    border: 0;
  }

  .nav-ul a {
    padding: 10px 20px;
  }

  .backlayer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000091;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 9090;
  }

  .nav-logo {
    max-height: 100%;
    max-width: 17rem;
  }

  .AWEER_RATE {
    padding: 1rem 1.5rem;
    font-size: 2rem;
  }

  .humber_menu {
    height: 30px;
    width: 30px;
    color: var(--color-light);
  }

  /* Quality section */
  .Quality_section {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Modal */
  .pro_modal .modal-dialog {
    max-width: 600px;
  }
  .pro_modal .pro_modal_body {
    padding: 20px;
  }

  #main_image .splide__slide {
    height: 250px !important;
  }
  .right_side {
    max-height: 180px;
    margin-top: 20px;
  }

  .right_side .Specifications {
    padding: 10px;
    margin-top: 15px;
  }

  /* Footer */
  .Footer_row {
    gap: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .containerX {
    margin: 0 5rem;
  }

  .top-header {
    padding: 10px 3rem;
  }

  /* Slider */
  .hero_slider .right_text {
    --font-size: 7rem;
  }

  .Url_hash .hash_item img {
    max-width: 50px;
  }

  /* Slider */

  /* Quality section */
  .FARMER_EXPORT_Contan {
    margin-top: 1.5rem;
  }

  .dgcolum2 {
    margin-top: 4rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .Welcome_imges {
    max-width: 60%;
    margin: 0 auto;
  }

  .Quality_Imges {
    max-width: 60%;
    margin: 0 auto;
  }

  .vegetables_ul {
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .product_sec {
    margin-top: 7rem;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    max-width: 10rem;
  }

  .owl-theme .owl-dots {
    padding: 0 12rem;
  }

  .owl-controls {
    bottom: 2rem;
  }

  /* about us */
  .why_choose_sec {
    gap: 10px;
  }

  .whychoose_items {
    padding: 1rem;
  }

  .whychoose_items .choose_heading h2 {
    font-size: 2.2rem !important;
  }

  .choose_heading {
    gap: 1rem;
  }

  .whychoose_items p {
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .valuse_items .valuseitems_left {
    grid-template-columns: 100px auto;
    min-height: 100px;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  .valuseitems_Right {
    grid-template-columns: auto 100px;
    min-height: 100px;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  .value_content {
    padding: 2rem;
    gap: 20px;
  }

  .value_text h2 {
    font-size: 2.2rem !important;
    margin-bottom: 1rem;
  }

  .value_boder h2 {
    font-size: 2.2rem !important;
    margin-bottom: 1rem;
  }

  .value_text p {
    font-size: 2rem;
  }

  .value_boder p {
    font-size: 2rem;
  }

  .value_text {
    padding-right: 2rem;
  }

  .value_boder {
    padding-left: 2rem;
  }

  .value_imges img {
    max-width: 6rem;
  }

  .whoweare_sec {
    grid-gap: 40px;
  }

  .value_heading {
    font-size: 2.6rem !important;
  }

  .box_item .back {
    padding: 10px;
  }

  .Core_value_ul li {
    font-size: 2rem;
  }

  .box_item {
    padding: 10px;
  }

  .homebox { 
    grid-template-columns: repeat(2, 1fr); 
    gap: 3rem;
}

.choose_box {
  width: 6rem;
  height: 6rem; 
}

.whyChoose_content {
  margin-top: -3rem; 
  padding: 0 2rem;
}

.heading_txt h4 {
  font-size: 2.6rem !important;
}

.heading_txt {
  padding: 1rem 4rem; 
}

  /* about us */

  /* Contact start */
  .Contact_Form {
    background-color: #151414;
    padding: 2rem;
  }

  .Foram_heading {
    padding: 2rem;
    font-size: 2.6rem;
  }

  .Form_mt {
    margin-top: 3rem;
  }

  .Contact_Form label {
    font-size: 2rem;
  }

  .Contact_Form input {
    font-size: 2rem;
    padding: 0.8rem;
  }

  .message_txt {
    font-size: 2rem;
  }

  .massges_taxtarea textarea {
    font-size: 2rem;
  }

  .submit_btn {
    width: 16rem;
    height: 5rem;
    font-size: 2rem;
  }

  .office_heading {
    font-size: 2.6rem !important;
  }

  .mapouter .gmap_canvas {
    height: 400px;
  }

  /* Contact end */

  .footer_col h4,
  .footer_logo {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .hero_slider .item_row {
    gap: 20px;
  }

  /* Modal */
  .pro_modal .modal-dialog {
    max-width: 100%;
  }
  .pro_modal .pro_modal_body {
    padding: 30px;
  }

  #main_image .splide__slide {
    height: 200px !important;
  }
  .right_side {
    max-height: 240px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 7px;
  }

  h3 {
    font-size: 3rem !important;
  }

  .containerX {
    margin: 0 4rem;
  }

  .top-header {
    padding: 10px 3rem;
  }

  /* Slider */

  /* Slider */
  .hero_slider .right_text {
    --font-size: 7rem;
    -webkit-text-stroke: 1px #ffffff;
  }

  .hero_slider .Url_hash {
    bottom: 15px;
    right: 20px;
  }

  .Url_hash .hash_item img {
    max-width: 50px;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    max-width: 8rem;
  }

  .owl-theme .owl-dots {
    padding: 0 10rem;
  }

  .owl-controls {
    bottom: 2rem;
  }

  /* Slider */

  /* Quality section */
  .FARMER_EXPORT_Contan {
    margin-top: 1.5rem;
  }

  .dgcolum2 {
    margin-top: 4rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .Welcome_imges {
    max-width: 60%;
    margin: 0 auto;
  }

  .Quality_Imges {
    max-width: 60%;
    margin: 0 auto;
  }

  .vegetables_ul {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
  }

  .product_sec {
    margin-top: 5rem;
  }

  .Heading_line {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .vegetables_ul .vegetables_Item .vegetables_Name p {
    font-size: 14px;
  }
  .al-aweer-rate .vegetables_ul .vegetables_Item .vegetables_Name span {
    font-size: 12px;
  }

  /* about us */
  .why_choose_sec {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .whychoose_items {
    padding: 1rem;
  }

  .whychoose_items .choose_heading h2 {
    font-size: 2.2rem !important;
  }

  .choose_heading {
    gap: 1rem;
  }

  .whychoose_items p {
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .valuse_items .valuseitems_left {
    grid-template-columns: 100px auto;
    min-height: 100px;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  .valuseitems_Right {
    grid-template-columns: auto 100px;
    min-height: 100px;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  .value_content {
    padding: 2rem;
    gap: 20px;
  }

  .value_text h2 {
    font-size: 2.2rem !important;
    margin-bottom: 1rem;
  }

  .value_boder h2 {
    font-size: 2.2rem !important;
    margin-bottom: 1rem;
  }

  .value_text p {
    font-size: 2rem;
  }

  .value_boder p {
    font-size: 2rem;
  }

  .value_text {
    padding-right: 2rem;
  }

  .value_boder {
    padding-left: 2rem;
  }

  .value_imges img {
    max-width: 6rem;
  }

  .whoweare_sec {
    grid-gap: 40px;
  }

  .value_heading {
    font-size: 2.6rem !important;
  }

  .box_ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .box_item {
    background: linear-gradient(
      180deg,
      #d9d9d900 50%,
      rgba(253, 253, 253, 0.123) 50%
    );
  }

  .box_item:nth-child(even) {
    background: linear-gradient(
      180deg,
      #d9d9d900 50%,
      rgba(253, 253, 253, 0.123) 50%
    );
  }

  .homebox { 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem;
}

.choose_box {
  width: 6rem;
  height: 6rem; 
}

.whyChoose_content {
  margin-top: -3rem; 
  padding: 0 1rem;
}

.heading_txt h4 {
  font-size: 2.6rem !important;
}

.heading_txt {
  padding: 1rem 4rem; 
}

  /* about us */

  /* Contact start */
  .Contact_Form {
    background-color: #151414;
    padding: 2rem;
  }

  .Foram_heading {
    padding: 2rem;
    font-size: 2.6rem;
  }

  .Form_mt {
    margin-top: 3rem;
  }

  .Contact_Form label {
    font-size: 2rem;
  }

  .Contact_Form input {
    font-size: 2rem;
    padding: 0.8rem;
  }

  .message_txt {
    font-size: 2rem;
  }

  .massges_taxtarea textarea {
    font-size: 2rem;
  }

  .submit_btn {
    width: 16rem;
    height: 5rem;
    font-size: 2rem;
  }

  .office_heading {
    font-size: 2.6rem !important;
  }

  .mapouter .gmap_canvas {
    height: 400px;
  }

  /* Contact end */

  /* Footer */

  .footer_col h4 {
    font-size: 2.6rem !important;
  }

  .footer_col h4,
  .footer_logo {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 6px;
  }

  .containerX {
    margin: 0 2rem;
  }

  .top-header {
    padding: 10px 2rem;
  }

  /* Slider */

  .hero_slider .right_text {
    --font-size: 6rem;
    -webkit-text-stroke: 1px #ffffff;
  }

  .hero_slider .Url_hash {
    position: initial !important;
    justify-content: center;
    margin-top: 10px;
  }

  .hero_slider .Url_hash .hash_item img {
    max-width: 5rem;
  }

  .Url_hash .hash_item img {
    max-width: 40px;
  }

  .hero_slider .item_row {
    gap: 10px;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    max-width: 8rem;
    position: static;
    transform: translateY(0);
  }
  .owl-theme .owl-nav {
    display: inline-flex;
    gap: 20px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    transform: translateY(0%) rotateY(180deg);
  }

  .owl-controls {
    position: static;
    text-align: center;
    margin-top: 20px;
  }

  /* Slider */

  /* Quality section */
  .FARMER_EXPORT_Contan {
    margin-top: 1.5rem;
  }

  .dgcolum2 {
    margin-top: 4rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .Welcome_imges {
    max-width: 70%;
    margin: 0 auto;
  }

  .Quality_Imges {
    max-width: 70%;
    margin: 0 auto;
  }

  /* Modal */
  .pro_modal .pro_modal_body {
    padding: 20px;
  }

  .pro_modal .btn-close {
    top: 8px;
    right: 8px;
    width: 10px;
    height: 10px;
  }

  .vegetables_ul {
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
  }

  .product_sec {
    margin-top: 5rem;
  }

  .Heading_line {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .vegetables_ul .vegetables_Item .vegetables_Name p {
    font-size: 14px;
  }
  .al-aweer-rate .vegetables_ul .vegetables_Item .vegetables_Name span {
    font-size: 12px;
  }

  /* about us */
  .why_choose_sec {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .whychoose_items {
    padding: 1rem;
  }

  .whychoose_items .choose_heading h2 {
    font-size: 2.4rem !important;
  }

  .choose_heading {
    gap: 1rem;
  }

  .whychoose_items p {
    margin-top: 1rem;
  }

  .valuse_items .valuseitems_left {
    grid-template-columns: 90px auto;
    min-height: 100px;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .valuseitems_Right {
    grid-template-columns: auto 90px;
    min-height: 100px;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .value_content {
    padding: 2rem;
    gap: 20px;
  }

  .value_text h2 {
    font-size: 2.2rem !important;
    margin-bottom: 1rem;
  }

  .value_boder h2 {
    font-size: 2.2rem !important;
    margin-bottom: 1rem;
  }

  .value_text p {
    font-size: 2rem;
  }

  .value_boder p {
    font-size: 2rem;
  }

  .value_text {
    padding-right: 2rem;
  }

  .value_boder {
    padding-left: 2rem;
  }

  .value_imges img {
    max-width: 6rem;
  }

  .whoweare_sec {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .value_heading {
    font-size: 2.6rem !important;
  }

  .value_heading {
    font-size: 2.6rem !important;
  }

  .box_ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .box_item {
    background: linear-gradient(
      180deg,
      #d9d9d900 50%,
      rgba(253, 253, 253, 0.123) 50%
    );
  }

  .box_item:nth-child(even) {
    background: linear-gradient(
      180deg,
      #d9d9d900 50%,
      rgba(253, 253, 253, 0.123) 50%
    );
  }
  .homebox { 
    grid-template-columns: repeat(1, 1fr); 
}

  /* about us */

  /* Contact start */
  .Contact_Form {
    background-color: #151414;
    padding: 3rem;
  }

  .Foram_heading {
    padding: 1rem;
    font-size: 2.6rem;
  }

  .Foram_heading img {
    margin-right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .Form_mt {
    margin-top: 2rem;
  }

  .Contact_Form label {
    font-size: 2.4rem;
  }

  .Contact_Form input {
    font-size: 2.4rem;
    padding: 0.8rem;
  }

  .message_txt {
    font-size: 2.4rem;
  }

  .massges_taxtarea textarea {
    font-size: 2.4rem;
  }

  .submit_btn {
    width: 16rem;
    height: 5rem;
    font-size: 2.4rem;
  }

  .office_heading {
    font-size: 2.6rem !important;
  }

  .mapouter .gmap_canvas {
    height: 300px;
  }

  .mapouter {
    margin-top: 2rem;
  }

  /* Contact end */

  /* Footer */
  .footer_col h4 {
    font-size: 2.6rem !important;
  }

  .footer_col h4,
  .footer_logo {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 450px) {
}
