/* 
------------------------------------------------------
              --- TABLE OF CONTENT ---
---------------------------------------------------------

  01.  Fonts
  02.  Global CSS  
  03.  Navigation
  
   
--------------------------------------------------------
*/

/* 
============================================================= 
                      01 - Fonts
============================================================= 
*/

@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Satoshi-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Satoshi-Black.woff2") format("woff2");
}

/* 
============================================================= 
                      02 - Global CSS
=============================================================   
*/

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  background: var(--color-bg);
  font-size: 2.4rem;
  color: var(--color-secondary);
  overflow-x: hidden;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #a8a8a8;
  --color-green: #49a322;
  --color-bg: #060505;
  --color-rgb: #2b2a2a;
  --color-line: #3d3d3d;
  --color-black: #060505;
}

.mb50 {
  margin-bottom: 30rem;
  color: white;
}

.row {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4.2rem !important;
  color: var(--color-secondary);
}

h3 {
  font-size: 4.4rem !important;
  font-weight: 600;
}

h4 {
  font-size: 3rem !important;
}

h5 {
  font-size: 2.2rem !important;
}

.containerX {
  margin: 0 10rem;
}

.dgcolum2 {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
}

/* social_icons_item */
.social_media_sec {
  display: grid;
  align-content: center;
  /* gap: 2px; */
  position: fixed;
  left: 0;
  bottom: 10px;
  z-index: 666;
}

.social_icons_item {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icons_item a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-fb {
  background-color: #3b5998;
}

.bg-wp {
  background-color: #25d366;
}

.bg-in {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.bg-ib {
  background-color: rgb(35, 35, 90);
}

/* 
============================================================= 
                      03 - Header
=============================================================   
*/
.top-header {
  padding: 0 6rem;
  border-bottom: 1px solid var(--color-line);
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav-ul {
  height: 9.8rem;
}

.nav-logo {
  max-height: 100%;
  max-width: 100%;
}

.mob-logo a {
  max-width: 28rem;
  padding: 0 4rem;
}

.nav-ul .nav-item {
  height: 100%;
  border-right: 1px solid var(--color-line);
  display: grid;
  align-content: center;
}

.nav-ul a {
  height: 100%;
  font-size: 2.2rem;
  padding: 0rem 6rem;
  color: var(--color-primay);
  transition: 0.3s;
}

.nav-ul .nav-item:hover a {
  color: var(--color-green);
}

.AWEER_RATE {
  padding: 1.5rem 3rem;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  font-size: 2.2rem;
  transition: 0.3s;
}

.AWEER_RATE:hover {
  background-color: var(--color-green);
  color: var(--color-primary);
  border: 1px solid var(--color-green);
}

/* Start Slider */
.hero_slider .owl-carousel .item {
  /* max-height: 80vh; */
  position: relative;
  overflow: hidden;
}

.hero_slider .owl-carousel .owl-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.owl-controls {
  position: absolute;
  bottom: 25px;
  right: 3rem;
}

.owl-theme .owl-nav .disabled {
  opacity: 0;
}

.owl-theme .owl-nav {
  margin-top: 0px;
  display: inline-block;
}

.owl-theme .owl-nav button:hover {
  background-color: transparent !important;
}

.owl-carousel .owl-nav button {
  margin: 0 !important;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  max-width: 12rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.owl-carousel .owl-nav button.owl-prev {
  transform: translateY(-50%) rotateY(180deg);
}
.owl-carousel .owl-nav button.owl-next {
  left: initial;
  right: 0;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.owl-theme .owl-dots {
  counter-reset: dots;
  display: inline-block;
  padding: 0 14rem;
}

.owl-theme .owl-dots .owl-dot span::before {
  counter-increment: dots;
  content: counter(dots);
}

.owl-theme .owl-dots .owl-dot::after {
  content: " /";
}

.owl-theme .owl-dots .owl-dot:last-child:after {
  display: none;
}

.owl-theme .owl-dots .owl-dot.active span {
  scale: 1.4;
}

.owl-theme .owl-dots .owl-dot span {
  height: auto;
  width: auto;
  margin: 0;
  background-color: transparent !important;
  color: white;
  margin: 0 4px;
}

.hero_slider .Url_hash {
  bottom: 2rem;
  right: 3rem;
  z-index: 22;
}

.hero_slider .Url_hash .hash_item {
  margin: 0 4px;
}

.hero_slider .Url_hash .hash_item img {
  max-width: 9rem;
}

.hero_slider .Url_hash .hash_item .url {
  color: var(--color-primary);
}

.hero_slider .Url_hash .hash_item .url.active {
  font-size: 3rem;
}

.hero_slider .item_row {
  width: calc(100% - 6rem);
}

.hero_slider .item_row .Visit_btn {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  font-size: 2.2rem;
  padding: 5px 2rem;
  margin-top: 2rem;
  gap: 6px;
}

.hero_slider .right_text {
  --font-size: 14rem;
  font-weight: 900;
  font-size: var(--font-size);
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
  line-height: var(--font-size);
}

/* End Slider */

.Heading_line {
  height: 60px;
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.Heading_line .line {
  display: inline-block;
  position: relative;
  width: calc(100% - 8px);
  height: 2px;
  background-color: var(--color-line);
}

.Heading_line .line::before,
.Heading_line .line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  background: url(../images/Star-line.svg) no-repeat center center / cover;
}

.Heading_line .line::before {
  left: -5px;
}

.Heading_line .line::after {
  right: -5px;
}

.body__inner-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  margin-block-start: 6rem;
}

.outline__text {
  font-family: sans-serif;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.marquee {
  width: 100%;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(128, 128, 128, 0.16) 28.12%,
    rgba(255, 255, 255, 0.12) 52.08%,
    rgba(128, 128, 128, 0.16) 76.04%,
    rgba(255, 255, 255, 0.2) 100%
  );
  overflow: hidden;
  padding: 2rem 0;
}

.marquee-grey {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(112, 112, 112, 0.16) 28.12%,
    rgba(255, 255, 255, 0.12) 52.08%,
    rgba(112, 112, 112, 0.16) 76.04%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}

.marquee span {
  text-align: center;
  color: var(--color-primary);
  font-weight: 400;
  white-space: nowrap;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Aline", sans-serif;
  text-transform: uppercase;
}

.marquee__img {
  height: 3.3rem;
  width: 3.3rem;
  margin: 0 2vw;
  border-radius: 100rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/green-star.svg);
}

.marquee__img-pink {
  background-image: url(../images/white-star.svg);
}

.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 40s linear infinite;
  will-change: transform;
}

.marquee-two {
  background: linear-gradient(135deg, #6cb433 0%, #1a8c0b 100%);
  transform: matrix(0.99, -0.11, 0);
}

.body__inner-wrapper-two {
  transform: rotate(-3deg);
  position: absolute;
  width: 99.98%;
  top: -50px;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* Welcome to FARMER EXPORT */
.Welcome_Farmer_Section {
  margin-top: 12rem;
}

.Welcome_txt {
  color: var(--color-primary);
}

.Welcome_txt span {
  color: var(--color-green);
}

.FARMER_EXPORT_Contan {
  color: var(--color-primary);
  margin-top: 3rem;
}

.FARMER_EXPORT_Contan span {
  color: var(--color-green);
}

/* Quality section start */
.Heading_Section {
  color: var(--color-primary);
  text-transform: uppercase;
}

.Quality_Content {
  color: var(--color-primary);
  margin-top: 3rem;
}

.Learnmore_btn {
  margin-top: 3rem;
  padding: 0rem 2rem;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  height: 6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.Learnmore_btn svg {
  width: 3.8rem;
  height: 3.8rem;
  margin-left: 1rem;
}

.Learnmore_btn:hover {
  color: var(--color-primary); 
  background-color: var(--color-green);
}

/* Quality section end */

/* Aboutus_section start */
.Aboutus_Content li {
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}

/* Aboutus_section end */

/*=======================================
       Our Products 
=======================================*/
.product_sec {
  margin-top: 12rem;
}

.vegetables_ul {
  margin-top: 6rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.vegetables_ul .vegetables_Item {
  aspect-ratio: 1;
  overflow: hidden;
  border: 1px solid var(--color-primary);
}

.vegetables_ul .vegetables_Item .vegetables_Name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 2.6rem;
  height: 7rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7.5px);
  font-weight: 500;
  cursor: pointer;
}

.al-aweer-rate .vegetables_ul .vegetables_Item .vegetables_Name {
  font-size: 2.6rem;
  height: auto;
  padding: 5px 0;
  flex-direction: column;
}
.al-aweer-rate .vegetables_ul .vegetables_Item .vegetables_Name span {
  font-size: 2.4rem;
  font-weight: normal;
}

/* Slider */

.pro_modal .modal-dialog {
  max-width: 1300px;
}

.pro_modal .modal-content {
  background-color: #151414;
}

.pro_modal .pro_modal_body {
  --width: 570px;
  grid-template-columns: var(--width) var(--width);
  gap: 40px;
  padding: 60px;
}

.pro_splide .splide__arrow {
  width: 25px;
  height: 40px;
  transform: initial;
  top: initial;
  bottom: 10px;
  border-radius: 0;
  transition: 0.2s;
}

.pro_splide .splide__arrow:hover {
  width: 40px;
}

.pro_splide .splide__arrow:hover img {
  margin: 0;
}

.pro_splide .splide__arrow--prev {
  left: 10px;
}

.pro_splide .splide__arrow--next {
  right: 10px;
}

.pro_splide .splide__arrow img {
  max-width: 20px;
  margin-left: -2rem;
  transition: 0.2s;
}

.pro_splide .splide__arrow--prev img {
  transform: rotateY(180deg);
  margin-right: -4rem;
}

.pro_splide .splide__pagination {
  position: initial;
}

#main_image .splide__slide {
  height: 400px !important;
  background-color: #383838;
}

.pro_splide .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main_image {
  border: 1px solid var(--color-primary);
}

#image_item {
  margin-top: 20px;
}

#image_item .splide__list .splide__slide {
  height: auto !important;
  border: 1px solid var(--color-primary);
  aspect-ratio: 1;
}

#image_item .splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 1px solid var(--color-primary);
}

.right_side {
  max-height: 590px;
  overflow-y: auto;
}

.right_side::-webkit-scrollbar {
  display: none;
}

.right_side .Specifications {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  margin-top: 30px;
}

.right_side .Specifications ul {
  list-style: circle;
}

.right_side .Specifications ul li {
  list-style: circle;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
  position: relative;
  padding-left: 20px;
}

.right_side .Specifications ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #a8a8a8;
}

.right_side .Specifications ul li span {
  white-space: nowrap;
}

.right_side .Specifications ul li P {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pro_modal .btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  width: 18px;
  height: 18px;
  padding: 0;
  z-index: 5555;
}

.pro_modal .btn-close:focus {
  box-shadow: none;
}

/*=======================================
       Footer 
=======================================*/
footer {
  margin-top: 12rem;
  padding: 6rem 0 0 0;
  background-color: rgba(255, 255, 255, 0.05999);
}

.Footer_row {
  font-size: 2.4rem;
}

.footer_logo {
  margin-bottom: 5rem;
}

.footer_logo img {
  max-height: 100%;
  max-width: 22rem;
}

.footer_link {
  text-transform: uppercase;
  transition: 0.3s;
  color: var(--color-secondary);
}

.footer_link:hover {
  color: var(--color-primary);
}

.footer_col h4 {
  margin-bottom: 4rem;
  font-size: 2.8rem !important;
  color: var(--color-primary);
}

.contact_details,
.footer_nav {
  display: grid;
  gap: 3rem;
}

.contact_details .item {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3.6rem auto;
  align-items: center;
  color: var(--color-secondary);
}

.contact_details .item svg {
  width: 3.6rem;
  height: 3.6rem;
}

.Right_Reseeved {
  margin-top: 4rem;
  border-top: 1px solid var(--color-line);
  padding: 3rem 0;
}

/* About Us */
/* ABOUT US start */
 .Node-Waves-slider{
  margin-top: 12rem;
}

.why_choose_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

 
.whychoose_items{
  padding: 4rem;
  color: white;
  background-color: var(--color-bg); 
  position: relative;
}
.whychoose_items::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: linear-gradient(135deg, #6CB433 0%, rgba(26, 140, 11, 0.00) 26.57%, rgba(26, 140, 11, 0.00) 73.42%, #6CB433 100%);
  ;
  z-index: -1;
}

.whychoose_items .choose_heading h2 {
  color: var(--color-rgb);
  font-weight: 900;
  text-transform: uppercase;
}

.choose_heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.whychoose_items p {
  color: var(--color-secondary);
  margin-top: 2rem;
}

.choose_heading img {
  width: 5rem;
  height: 5rem;
}

.value_heading {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 6rem;
}

.valuse_items .valuseitems_left {
  display: grid;
  grid-template-columns: 200px auto;
  min-height: 200px;
  margin-left: auto;
  max-width: 85%;
  margin-bottom: 4rem;
}

.valuseitems_Right {
  display: grid;
  grid-template-columns: auto 200px;
  min-height: 200px;
  max-width: 85%;
  margin-bottom: 4rem;
}

.value_imges {
  background: linear-gradient(#6cb433, #1a8c0b);
  display: flex;
  align-items: center;
  justify-content: center;
}

.value_content {
  background-color: #151414;
  padding: 4rem 4rem;
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 40px;
  align-items: center;
}

.value_contenttwo {
  grid-template-columns: 50px auto;
}

.value_text h2 {
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 3rem !important;

}

.value_text {
  padding-right: 4rem;
  border-right: 1px solid var(--color-rgb);
}

.value_boder {
  padding-left: 4rem;
  border-left: 1px solid var(--color-rgb);
}

.value_boder h2 {
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 3rem !important;
}

.whoweare_sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}

.box_ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  list-style: none;
}

.box_item {
  padding: 20px; 
  position: relative;
  
}
.box_item::after {
  content: '';
  height: 50%;
  width: 100%;
  position: absolute;
  bottom:  0;
  left: 0;
  background: linear-gradient(135deg, #6CB433 0%, #1A8C0B 100%);
  z-index: -1;
}

.box_item:nth-child(even):after {
  top: initial;
  top: 0; 
}

.box_item .back {
  background-color: #151414;
  height: 100%;
  padding: 40px;
}

.Core_value_ul {
  text-align: center;
}

/* WHY CHOOSE US? */
.homebox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
    margin-top: 10rem;
    grid-auto-rows: 1fr;
}

.whyChoose_items {
    border: 1px solid black;
    padding: 0 0px 2rem;
    background-color: rgba(255, 255, 255, 0.05);;
}

.heading_txt {
    padding: 1rem 10rem;
    background-color: rgba(255, 255, 255, 0.050);
    position: relative;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose_box {
    width: 8rem;
    height: 8rem; 
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
}

.heading_txt h4 { 
    text-align: center;
    background: linear-gradient(135deg, #6CB433 0%, #1A8C0B 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.whyChoose_content {
    margin-top: -4rem;
    padding: 0 3rem;
    color: var(--color-primary);
}
/* CONTACT start */
.Form_mt {
  margin-top: 6rem;
}

.Foram_heading {
  background-color: #6cb433;
  color: var(--color-primary);
  padding: 4rem;
  font-size: 3.4rem;
  display: flex;
  align-items: center;
}

.Foram_heading img {
  margin-right: 1rem;
}

.Contact_Form {
  background-color: #151414;
  padding: 4rem;
}

.Contact_Form label {
  font-size: 2.4rem;
  color: var(--color-primary);
}

.Contact_Form input {
  font-size: 2.4rem;
  background-color: transparent;
  outline: 0;
  color: white;
  border: 1px solid #444343;
  outline: none;
  padding: 1rem;
}

.Contact_Form input::placeholder {
  color: var(--color-secondary);
}

.Contact_Form .form-control:focus {
  background-color: transparent;
  color: white;
  border-color: white;
  outline: 0;
  box-shadow: none;
}

.Contact_Form .form-control {
  background-color: transparent;
}

.Contact_Form .massges_taxtarea .form-control:focus {
  background-color: transparent;
  color: white;
  border-color: white;
  outline: 0;
  box-shadow: none;
}

.message_txt {
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  font-size: 2.4rem;
}

.massges_taxtarea textarea {
  border: 1px solid #444343;
  font-size: 2.4rem;
  color: var(--color-primary);
}

.submit_btn {
  border: 1px solid #1a8c0b;
  width: 20rem;
  height: 7rem;
  background-color: transparent;
  font-size: 2.4rem;
  color: var(--color-green);
  transition: 0.6s;
}

.submit_btn:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.Address_Content {
}

.office_heading {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.office_Num {
  display: block;
  color: var(--color-secondary);
}

.mapouter .gmap_canvas {
  height: 700px;
}

.mapouter iframe {
  height: 100%;
  width: 100%;
}

/* CONTACT end */
 









